html, body {
  margin: 0;
  padding: 0;
	font-family: 'Ubuntu', sans-serif;

}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.container-fluid {
	background-color: rgba(0,0,0,.5);
	height: 50px;
}

.container-test {
	max-width: 1100px;
}


/* Header*/

.header {
	background: url("../img/ny.jpg") no-repeat center center;
	background-size: cover;
	height: 600px;
}

.header .container-fluid .pull-left a {
	text-decoration: none;
}

.header .container-fluid .pull-left h4 {
	color: white;
	margin-top: 15px;
}

.header .container-fluid .pull-right ul a li.images {
	padding: 0 !important;
}

.header .container-fluid .pull-right ul a li {
	list-style: none;
	display: inline-block;
	margin-top: 7px;
	color: white;
	margin-left: 12px;
	padding: 5px 4px;
}

.header .container-fluid .pull-right ul a:hover li {
	background-color: rgb(145, 147, 149);
	color: white;
	transition: 0.5s;
	border-radius: 5px;
}

.header .container-fluid .pull-right ul a li img {
	width: 35px;
	height: 35px;
}

.header .container-fluid .pull-right ul a li.last {
	margin-right: 0 !important;
}

.header .container-fluid .pull-right ul a {
	text-decoration: none;
}

.header .row .col-md-5 {
	margin-top: 45px;
}

.header .row .col-md-5 h1 {
	color: rgb(34, 18, 73);
	font-size: 50px;
	margin-left: 40px;
}

/* main */
.main {
	background-color: rgb(34,18,73);
	background-size: cover;
}
.main .container-fluid {
	background-color: rgba(0,0,0,0.5);
	height: 80px;
}

.main .container-fluid h3 {
	line-height: 40px;
	text-transform: uppercase;
	color: white;
	vertical-align: middle;
}

/* ptf */

.ptf {
	background: url("../img/sky.jpg") repeat center center;
	background-size: cover;

}
.ptf .container .row a img {
	margin-bottom: 20px;


}

.ptf .container .row {
	margin-top: 40px;
}

