html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/*  return button */
a .return {
  position: fixed;
  width: 70px;
  height: 50px;
  margin-left: 5px;
  margin-top: 30%;
  color: white;
  background-color: rgb(34,18,73);
  text-align: center;
  border-radius: 5px; 
  transition: 0.6s;
}

a .return  {
  text-decoration: none;
  color: white;
}

a .return p {
  margin-top: 4px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
}

a .return:hover {
  background-color: white;
  color: rgb(34,18,73);
}

a .return:hover p span{
  border-bottom: 1px solid rgba(34,18,73);
  box-sizing: border-box;
}

/* finish return */

.main {
  position: relative;
  text-align: center;
}

.main video {
  width: 100%;
}

.main .content {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main h1 {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color: white;
  margin-bottom: 60px;
}

.main a {
    text-decoration: none;
    padding: 18px 35px;
    background-color: #4386FC;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.main a:hover {
  background-color: rgba(67, 134, 252,0.9);
  transition: 0.5s;
  border: 1px solid white;
}


.supporting {
  margin-top: 100px;
  margin-bottom: 130px;
  text-align: center;
}

.supporting h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 50px;
}

.supporting p {
  color: #333;
  font-size: 21px;
  font-weight: 300;
  padding: 0 30px;
}

.supporting-two {
  margin-top: 100px;
  margin-bottom: 130px;
  text-align: center;
}

.supporting-two h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 50px;
}

.supporting-two img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.supporting-two a {
    text-decoration: none;
    padding: 18px 35px;
    background-color: #4386FC;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.supporting-two a:hover {
  background-color: rgba(67, 134, 252,0.9);
  transition: 0.5s;
  border: 1px solid white;
}

.feature {
  height: 500px;
  background: url("../img/camp.png") no-repeat center center;
  background-size: cover;
}

.footer {
  padding: 40px;
  background-color: #eeeeee;
}

.footer p {
  font-size: 12px;
}

@media (max-width: 960px) {
  .main {
    height: 540px;
  }
  .main video {
    height: 540px;
    width: 960px;
  }
  .main h1 {
    font-size: 32px;
  }
}
