.container {
  max-width: 928px;
}

h1, h2, p, a {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

/*  return button */
a .return {
  position: fixed;
  width: 70px;
  height: 50px;
  margin-left: 5px;
  margin-top: 30%;
  color: white;
  background-color: rgb(34,18,73);
  text-align: center;
  border-radius: 5px; 
  transition: 0.6s;
}

a .return  {
  text-decoration: none;
  color: white;
}

a .return p {
  margin-top: 4px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
}

a .return:hover {
  background-color: white;
  color: rgb(34,18,73);
}

a .return:hover p span{
  border-bottom: 1px solid rgba(34,18,73);
  box-sizing: border-box;
}

/* finish return */

h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;
}

p {
  font-size: 26px;
  font-weight: 200;
}

a {
  font-size:18px;
  font-weight: 200;
}

.main {
  height: 550px;
  padding-top: 55px;
  background: url("../img/intro.jpg") no-repeat center center;
  background-size: cover;
}

.main p {
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 40px;
}

.main a {
  text-decoration: none;
  color: white;
  background-color: rgba(238,68,95,0.9);
  padding: 8px 30px;
  border-radius: 5px;
  transition: box-shadow 0.5s;
}

.main a:hover {
	background-color: rgba(238,68,95,1.0);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.6);
  transition: box-shadow 0.5s;
}

.section .row {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}

.store {
  text-align: center;
  border-bottom: 0px;
  padding-bottom:100px;
  padding-top: 50px;
}

.store img.first {
	margin-top: 20px;
  margin-right: 3px;
}

.store img.second {
  margin-top: 20px;
  margin-left: 3px;
}

/*  footer */

.footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
}

.footer h3 {
  color: #555555;
  font-size: 16px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 2px;
}

.footer li a {
  color: #999;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 900px;
}

.footer li a:hover {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #999;
  transition: 0.7s;

}
@media (max-width: 500px) {
  .col-md-6 img {
    padding: 50px;
    width: 100%;
  }
}
